body {
	background-image: url("Kitchen-Wallpaper-1.gif");
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: 160%;
}
div.resumen {
	display: inline-block;
	border-radius: 1em;
	padding: 6pt;
	background-image: url("https://n6-img-fp.akamaized.net/vector-gratis/textura-de-papel-arrugado_1100-12.jpg?size=338c&ext=jpg");
	border: 3pt solid #008000;
	margin: 10px;
}
div.resumen h2 {
	font-variant: small-caps;
	color: #db990a;
	text-decoration: underline;
}
div.resumen h2:hover {
	text-decoration: none;
	color: #edc163;
}
div.resumen h2:visited {
	color: #7c652e;
}
div.resumen h3 {
	color: #d69f2a;
}
div.resumen p {
	margin: 2px;
}
div.resumen:hover {
	opacity: 0.7;
}
div.bloque h2 ~ p {
	margin: 5px;
}
div.bloque {
	border: 1pt dotted #e0d2b1;
	height: 250pt;
}
span#imagen {
	margin: 15pt;
	float: left;
}
body {
	margin: 0% 10% 0%;
	text-align: justify;
}